@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JP Financial</h1>
    <p class="lead">Developed to be a convenient and easy way to track your finances and get a real-time overview of the health of your budget</p>
    <h2 class="text-info">Dashboard</h2>
    <p>
        Financial Tracking's dashboard is the hub of the whole site. There, you can get a complete overview of your finances. In the dashboard, you will see any bills that are
        coming up or past due, Account summaries that help you see if your savings goals are not in line with your budget</p>
    <br/>
    <h2 class="text-info">Accounts</h2>
    <p>
    <p><div class="btn btn-default bottom-right">@Html.ActionLink("Add Your First Account", "Create", "Account")</div></p>
    </p>
    <br/>
    <h2 class="text-info">Bills</h2>
    <p></p>
    <p><div class="btn btn-default bottom-right">@Html.ActionLink("Add Your First Bill", "Create", "Bills")</div></p>
    @*<br/>
    <h2 class="text-info">Investments</h2>
    <p></p>
    <p><div class="btn btn-default bottom-right">@Html.ActionLink("Add Your First Investment", "Create", "Account")</div></p>*@
</div>
