
@{
    ViewBag.Title = "Home";
}



<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron-fluid">
                <div class="row">


                </div>
            </div>
        </div>
    </div>
</div>
