
#selectedAccountDiv {
    margin-top: 25px;
    display: flex;
}

#selectedAccountFooter {
    margin-top: 10px;
    display: none;
}

#selectedAccountCard {
    margin: 30px 0;
}

#successText {
    display: none;
    float: right;
    margin: 100px 0 -200px 0;
}

#deleteConfirmationDiv {
    display: none;
}

.card-body {
    padding: 0;
}

.selectedInput {
    display: none;
}

.selectedInputLabel {
    margin: 15px 0 5px 0;
    display: none;
}

.selectedAccountLabels {
    margin: 5px 15px 0 0;
}

.selectedAccountFields {
    margin: 0;
    display: block;
}
