#selectedBillDiv {
    margin-top: 25px;
    display: flex;
}

#selectedBillFooter {
    margin-top: 10px;
    display: none;
}

#selectedBillCard {
    margin: 30px 0;
}

#deleteConfirmationDiv {
    display: none;
}

.card-body {
    padding: 0;
}

.selectedInput {
    display: none;
}

.selectedInputLabel {
    margin: 15px 0 5px 0;
    display: none;
}

.selectedBillLabels {
    margin: 5px 15px 0 0;
}

.selectedBillFields {
    margin: 0;
    display: block;
}