@model Financial_Tracking.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DashboardViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>0
    @Html.ActionLink("Back to List", "Index")
</p>
